.footer
    background: #c3c3c3
    display: flex
    padding: 40px 20px

    &__item
        flex: 1

    &__title
        margin: 0 0 16px 0

    &__list
        &-item
            cursor: pointer
            &:hover
                color: red
            &:not(:last-child)
                margin: 0 0 8px 0
