.products
    display: flex

    &__card
        position: relative
        border-top: 2px solid $second-color
        border-left: 2px solid $second-color
        border-right: 2px solid $second-color
        transition: transform .2s ease-in-out
        @include desctop
            &:hover
                transform: translateY(-8px)

    &__img
        height: 200px
        img
            object-fit: cover
            object-position: 50% 0

    &__info
        position: absolute
        right: 10px
        top: 10px
        border-radius: 50%
        width: 20px
        height: 20px
        background: $second-color
        color: $font-add-color
        &-content
            opacity: 0
            border-radius: 5px
            pointer-events: none
            position: absolute
            right: 50%
            top: 100%
            width: 120px
            background: $second-color
            padding: 8px
            font-size: .6rem
            transition: all .2s ease-in-out
        &:hover &-content
            opacity: 1
            top: calc(100% + 8px)

    &__content
        position: relative
        display: flex
        flex-direction: column
        height: 200px
        z-index: 2
        padding: 8px 10px 25px 10px


        &-title
            font-size: .9rem
            font-weight: 600
            margin: 0 0 8px 0
            text-align: center
        &-text
            font-size: 0.7rem
            flex: 1
            overflow: hidden
            margin: 0 0 8px 0
        
        &-data
            height: 30px

        
 
    &__bottom
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        width: 100%
        bottom: 0
        left: 0
        transform: translateY(50%)
        z-index: 3    
    &__btn
        border-color: $second-color
        color: $second-color
        position: relative
        &:before,
        &:after
            content: ''
            width: 400%
            height: 2px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            background: $second-color
        &:before
            right: calc(100% + 10px)
        &:after
            left: calc(100% + 10px)
