.header
    &__container
        height: $header-top-main
        position: relative
    
    &__top
        position: fixed
        width: 100%
        padding: 0 8px
        background: $second-color
        z-index: 100
    
    &__bottom
        padding: $header-top-main 0 0 0
        background: $details-color
        
.logo
    color: $font-add-color
    fill: $font-add-color
    transition: all .3s ease-in-out

    &--active
        color: $details-color
        fill: $details-color
