.social
    display: flex
    &__item
        width: 30px
        height: 30px
        background: $details-color
        border-radius: 50%
        cursor: pointer
        fill: $font-add-color
        &:not(:last-child)
            margin: 0 8px 0 0

        &:hover
            background: $font-add-color
            fill: $details-color
